<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.editor.hiderx">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <activity android:name=".ExoPlayerMainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.HiderxSplashScreen"
            android:screenOrientation="portrait"
            />

        <activity android:name=".PrivacyPolicyActivity"
            android:theme="@style/HomeScreenTheme"/>
        <activity
            android:name=".activity.LegalPolicyActivity"
            android:theme="@style/HomeScreenTheme" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/HomeScreenTheme" />
        <activity
            android:name=".activity.FilemanagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme" />



        <activity
            android:name=".activity.CameraFolderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme" />
        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraScreenTheme" />
        <activity
            android:name=".activity.AudiosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme" />
        <activity
            android:name=".activity.VideosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme" />
        <activity
            android:name=".activity.PermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme" />
        <activity
            android:name=".activity.HomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/HomeScreenTheme" />
        <activity
            android:name=".activity.CalculatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CalculatorTheme" />
        <activity
            android:name=".activity.ActivitySetupPasswordHelp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>