<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simplemobiletools.commons">
    <!-- required for working contentproviders between apps on Android 11+ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ExoPlayerMainActivity"
            android:theme="@style/AppTheme2">
        </activity>
    </application>

</manifest>